ERP-TCG/ISL.Win/Service References/SGI_WCF/ISL.EntidadesWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ISL.EntidadesWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISL.EntidadesWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="e_Departamento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:e_Ubigeo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modificado" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoOperacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="e_Departamento" nillable="true" type="tns:e_Departamento" />
  <xs:complexType name="e_Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="e_Ubigeo" nillable="true" type="tns:e_Ubigeo" />
  <xs:complexType name="ArrayOfe_Departamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="e_Departamento" nillable="true" type="tns:e_Departamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfe_Departamento" nillable="true" type="tns:ArrayOfe_Departamento" />
</xs:schema>