ERP-TCG/ISL.Win/Service References/SGI_WCF/ISL.Servicios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ISL.Servicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISL.Servicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MensajeError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Causa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaseAccesoDatos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaseLogica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportaError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MensajeError" nillable="true" type="tns:MensajeError" />
</xs:schema>