ERP-TCG/ISL.Win/Service References/WCF_CpeIndu/WCF_Cpe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Mensaje_Inicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje_InicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mensaje_InicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inicializar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InicializarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InicializarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXML_CPE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsCab" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo_documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruta_cpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtResumen" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="b_baja" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXML_CPEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarXML_CPEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXML_CPE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cdrXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="definicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorResumen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firma" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dsCab" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="tipo_documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruta_cpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="b_baja" type="xs:boolean" />
        <xs:element minOccurs="0" name="b_env_ind" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXML_CPEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarXML_CPEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCPE_PortalConsultas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCPE_PortalConsultasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCPE_PortalConsultasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus_Ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruta_cpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre_xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="b_baja" type="xs:boolean" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus_TicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatus_TicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus_Documento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtComprobante" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ruta_cpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus_DocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatus_DocumentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>